.Body {
  padding-top: 150px; /* Adjust this value based on your header height */
}
.Filter-Buttons{
  display: flex;
  margin-left: 20px;
  justify-content: space-around;
}
.Top-Rated-Res{
  background-color: #4CAF50; /* Green background color */
  color: #fff; /* White text color */
  padding: 10px 20px; /* Padding for better readability */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border-radius for a rounded appearance */
  cursor: pointer; /* Show a pointer cursor on hover */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s; /* Smooth transition for background color change */
  /* Optional: Add drop shadow for a subtle lift effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Change background color on hover for interactive feedback */
.Top-Rated-Res:hover {
  background-color: #45a049; /* Slightly darker green on hover */
}


.Header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.184);
  border-radius: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white; /* Adjust as needed */
  z-index: 1000; /* Ensure it's above other elements */
}
.Logo{
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: 15px;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.405));
  
}

.NavItems > ul{
  list-style: none;
  display: flex;
}
.NavItems>ul>li{
  padding: 20px;
  margin:20px;
}
.Footer{
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
}




.CardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background-color: #f2f2f2;
}

.ResCard {
  width: 250px;
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  background-color: #fff;
}

.ResCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.ResCard img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.ResCard h2 {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.ResCard p {
  font-size: 0.9em;
  color: #666;
}


.login-button {
  margin-top: 30px;
  margin-right: 20px;
  height: 40px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #2980b9;
}


.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 1px solid #3498db;
  border-radius: 0 5px 5px 0;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #2980b9;
}